# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://sjrodpluambkmhrgustl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqcm9kcGx1YW1ia21ocmd1c3RsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ5MDc0NjUsImV4cCI6MjA2MDQ4MzQ2NX0.kM94mvbCijaydXCwV-13mGXNXv9A867l3hoTbxijel0

# API Keys
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key
OPENAI_API_KEY=your-openai-api-key
YELP_API_KEY=your-yelp-api-key 